.uwm-header {
    background-color: rgb(186, 199, 223);
}
.uwm-list {
    background-color: aquamarine;
}

.uwm-page-style { 
    background-color: rgb(186, 199, 223);
    font-family: cursive;
}

.uwm-main-style {
    background-color: rgb(54, 195, 195);
}

.uwm-main-section-style {
    background-color: antiquewhite;
}

.uwm-footer {
    background-color: plum;
}

.pets-style {
    background-color: darksalmon;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.pets-list {
    background-color: darkmagenta;
}

.pets-main {
    background-color: aqua;
}